<a href="https://colab.research.google.com/github/anirudh027/UNP-Assignments/blob/main/UNP_ML_DL%20Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Intro**

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split


**Airfoil Noiset**

In [ ]:
df=pd.read_excel("Air.xlsx",sheet_name=1)

In [ ]:
df.head(6)

,Frequency (Hz),Angle of Attack (Degrees),Chord length (m),Free stream velocity (m/s),Suction side displacement thickness (m),Scaled sound pressure level (Decibels)
0,800,0.0,0.3048,71.3,0.002663,126.201
1,1000,0.0,0.3048,71.3,0.002663,125.201
2,1250,0.0,0.3048,71.3,0.002663,125.951
3,1600,0.0,0.3048,71.3,0.002663,127.591
4,2000,0.0,0.3048,71.3,0.002663,127.461
5,2500,0.0,0.3048,71.3,0.002663,125.571

In [ ]:
x=df.iloc[:,0:5]
y=df.iloc[:,5]

lm = LinearRegression()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)
lm.fit(X_train, y_train)
y_pred = lm.predict(X_test)

In [ ]:

# print the coefficients
print(lm.intercept_)
print(lm.coef_)

133.09330984164674
[-1.27602910e-03 -4.08079464e-01 -3.61173791e+01  9.87437412e-02
 -1.61990153e+02]

In [ ]:
print(np.sqrt(metrics.mean_squared_error(y1_test, y1_pred)))

4.96365737855477

In [ ]:
{i:j for i,j in zip(df.columns,lm.coef_)}

{'Angle of Attack (Degrees)': -0.40807946408172924,
 'Chord length (m)': -36.11737913456952,
 'Free stream velocity (m/s)': 0.09874374118953955,
 'Frequency (Hz)': -0.001276029096059718,
 'Suction side displacement thickness (m)': -161.99015325862007}

**IRIS**

In [ ]:
df1=pd.read_csv("iri.csv",index_col=0)

In [ ]:
df1

              Sepal_Width  Petal_Length  Petal_Width           Class
Sepal_Length
5.1                   3.5           1.4          0.2     Iris-setosa
4.9                   3.0           1.4          0.2     Iris-setosa
4.7                   3.2           1.3          0.2     Iris-setosa
4.6                   3.1           1.5          0.2     Iris-setosa
5.0                   3.6           1.4          0.2     Iris-setosa
...                   ...           ...          ...             ...
6.7                   3.0           5.2          2.3  Iris-virginica
6.3                   2.5           5.0          1.9  Iris-virginica
6.5                   3.0           5.2          2.0  Iris-virginica
6.2                   3.4           5.4          2.3  Iris-virginica
5.9                   3.0           5.1          1.8  Iris-virginica

[150 rows x 4 columns]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logreg = LogisticRegression(C=1e9)
x1=df1.iloc[:,0:3]
y1=df1.iloc[:,3]

In [ ]:
X1_train, X1_test, y1_train, y1_test = train_test_split(x1, y1, random_state=1)
logreg.fit(X1_train,y1_train)
y1_pred = logreg.predict(X1_test)

In [ ]:
y1_pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa'],
      dtype=object)

In [ ]:
print((metrics.mean_squared_error(y1_test, y1_pred)))